<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Formulario Cliente</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/css/formulario_style.css}">
	<link rel="stylesheet" th:href="@{/css/navBar_style.css}">
	<link rel="shortcut icon" th:href="@{/imagenes/Logo.png}" type="image/x-icon">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- IonIcons CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
	<header>
		<nav class="navbar">
			<div class="nav-text">
				<div class="dropdown">
					<img class="icono" src="/imagenes/logo.png" alt="Icono de la página">
					<a class="dropbtn" th:href="@{/home/}"><ion-icon name="home"></ion-icon></a>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Clientes <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/clientes/}">Lista Clientes</a>
						<a th:href="@{/clientes/new}">Agregar Cliente</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Vehículos <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/vehiculos/}">Lista Vehículos</a>
						<a th:href="@{/vehiculos/new}">Agregar Vehículo</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Alquileres <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/alquileres/}">Lista Alquileres</a>
						<a th:href="@{/alquileres/new}">Agregar Alquiler</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Catálogo <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/catalogo/trabajador}">Ver Catálogo</a>
					</div>
				</div>
				<div class="dropdown exittra">
					<a class="dropbtn" th:href="@{/login/}">Cerrar Sesión <ion-icon name="log-out-outline"></ion-icon>
					</a>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<div class="cont">
			<div class="cont-form">
				<h1 class="titulo">Cliente</h1>
				<form th:action="@{/clientes/save}" th:object="${cliente}" method="post">
					<input type="hidden" th:field="*{id}">
					<div class="grupo">
						<label for="anulado">Bloqueado: </label>
						<input class="custom-checkbox-input" type="checkbox" id="estadoCheckbox"
							onchange="toggleEstado()">
						<input type="hidden" th:field="*{estado}" id="estadoHidden" th:value="${cliente.estado}">
					</div>
					<div class="grupo">
						<label for="tipoDocumento">Tipo Documento: </label>
						<select class="form-control entrada" id="tipoDocumento" th:field="*{tipoDocumento}" required>
							<option value="" disabled selected>Selecciona un tipo de documento</option>
							<option value="T.I">T.I</option>
							<option value="C.C">C.C</option>
							<option value="Pasaporte">Pasaporte</option>
							<option value="Cedula Extranjera">Cedula extranjera</option>
							<option value="Licencia de conducir">Licencia de conducir</option>
						</select>
					</div>
					<div class="grupo">
						<label for="numeroDocumento">Documento: </label>
						<input type="number" class="form-control entrada" id="numeroDocumento" th:field="*{documento}"
							placeholder="Numero de documento" required>
					</div>
					<div class="grupo">
						<label for="nombre">Nombre: </label>
						<input type="text" class="form-control entrada" id="nombre" th:field="*{nombre}"
							placeholder="Nombre" required>
					</div>
					<div class="grupo">
						<label for="apellido">Apellido: </label>
						<input type="text" class="form-control entrada" id="apellido" th:field="*{apellido}"
							placeholder="Apellido" required>
					</div>
					<div class="grupo">
						<label for="direccion">Dirección: </label>
						<input type="text" class="form-control entrada" id="direccion" th:field="*{direccion}"
							placeholder="Dirección" required>
					</div>
					<div class="grupo">
						<label for="segtelefonoundoNombre">Telefono: </label>
						<input type="tel" class="form-control entrada" id="telefono" th:field="*{telefono}"
							placeholder="Telefono" required>
					</div>
					<div class="grupo">
						<label for="correo">Correo: </label>
						<input type="email" class="form-control entrada" id="correo" th:field="*{correo}"
							placeholder="Correo" required>
					</div>
					<div class="grupo">
						<label for="contrasena">Contraseña: </label>
						<input type="text" class="form-control entrada" id="contrasena" th:field="*{contrasena}"
							placeholder="Contraseña" required>
					</div>
					<div class="grupo">
						<label class="label-show-password" for="show-password">Ver Contraseña: </label>
						<input class="custom-checkbox-input" type="checkbox" id="show-password"
							onchange="mostrarContrasena()" />
					</div>
					<div class="grupo-b">
						<button class="button" type="submit">Agregar</button>
					</div>
				</form>
			</div>
		</div>

		<footer>
			<div class="footer">
				<div class="izquierda">
					<img class="logo" src="/imagenes/LogoFooter.png" alt="Icono de la página">
					<div class="redes-sociales">
						<a class="redes"><ion-icon name="logo-facebook"></ion-icon></a>
						<a class="redes"><ion-icon name="logo-instagram"></ion-icon></a>
						<a class="redes"><ion-icon name="logo-twitter"></ion-icon></a>
						<a class="redes"><ion-icon name="logo-google"></ion-icon></a>
					</div>
				</div>
				<div class="medio">
					<h4>Contáctanos</h4>
					<p>Correo: rentacar@gmail.com</p>
					<p>Teléfono: +57 3124557639</p>
					<h4>Horario de atención</h4>
					<p>Lunes a viernes 8:00am a 5:30pm</p>
					<p>Sábados 8:00am a 2:00pm</p>
				</div>
				<div class="derecha">
					<h4>Universo RentaCar</h4>
					<p>RentaCar en Colombia</p>
					<p>Grupo RentaCar</p>
					<p>Código de ética</p>
					<p>Términos y condiciones</p>
				</div>
				<div class="abajo">
					<p>&copy; 2023 RentaCar. Todos los derechos reservados.</p>
				</div>
			</div>
		</footer>

	</main>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
	<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// Llama a la función para inicializar el estado del checkbox
			inicializarCheckbox();
		});

		function inicializarCheckbox() {
			// Obtener referencias a los campos
			var estadoCheckbox = document.getElementById('estadoCheckbox');
			var estadoHidden = document.getElementById('estadoHidden');

			// Obtener el valor de estadoHidden
			var estadoHiddenValue = estadoHidden.value;

			// Inicializar el estado del checkbox según el valor de anuladoHidden
			estadoCheckbox.checked = (estadoHiddenValue.toLowerCase() === 'bloqueado');

		}

		function toggleEstado() {
			// Obtener referencias a los campos
			var estadoCheckbox = document.getElementById('estadoCheckbox');
			var estadoHidden = document.getElementById('estadoHidden');

			// Actualizar el valor de anuladoHidden según el estado del checkbox

			// Actualizar otros campos según sea necesario
			if (estadoCheckbox.checked) {

				estadoHidden.value = 'Bloqueado';

			} else {

				estadoHidden.value = 'Activo';
			}
		}

		function mostrarContrasena() {
			var contrasenaInput = document.getElementById("contrasena");
			if (contrasenaInput.type === "text") {
				contrasenaInput.type = "password";
			} else {
				contrasenaInput.type = "text";
			}
		}

		mostrarContrasena();

	</script>
</body>

</html>