<!DOCTYPE html>
<html>

<head>
	<title>Principal</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/css/home_style.css}">
	<link rel="stylesheet" th:href="@{/css/navBar_style.css}">
	<link rel="shortcut icon" th:href="@{/imagenes/Logo.png}" type="image/x-icon">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<!-- IonIcons CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<header>
		<nav class="navbar">
			<div class="nav-text">
				<div class="dropdown">
					<img class="icono" src="/imagenes/logo.png" alt="Icono de la página">
					<a class="dropbtn" th:href="@{/home/principal}"><ion-icon name="home"></ion-icon></a>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Administradores <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/administradores/lista}">Lista Administradores</a>
						<a th:href="@{/administradores/nuevo}">Agregar Administrador</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Trabajadores <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/trabajadores/lista}">Lista Trabajadores</a>
						<a th:href="@{/trabajadores/nuevo}">Agregar Trabajador</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Clientes <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/clientes/lista}">Lista Clientes</a>
						<a th:href="@{/clientes/nuevo}">Agregar Cliente</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Vehículos <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/vehiculos/lista}">Lista Vehículos</a>
						<a th:href="@{/vehiculos/nuevo}">Agregar Vehículo</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Alquileres <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/alquileres/lista}">Lista Alquileres</a>
						<a th:href="@{/alquileres/nuevo}">Agregar Alquiler</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Catálogo <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/catalogo/administrador}">Ver Catálogo</a>
					</div>
				</div>
				<div class="dropdown exitadm">
					<a class="dropbtn" th:href="@{/login/}">Cerrar Sesión <ion-icon name="log-out-outline"></ion-icon>
					</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="contenedorgeneral">
		<div class="informacionprincipal">
			<h1>Alquiler de vehículos RentaCar</h1>
			<p>
				En RentaCar, nos enorgullece ser tu compañía de confianza en el mundo de la renta de automóviles. Desde
				nuestra empresa, hemos estado comprometidos en brindar a nuestros clientes una experiencia de alquiler
				de vehículos excepcional.
				Confía en RentaCar para todas tus necesidades de alquiler de vehículos. Estamos comprometidos en hacer
				que tus viajes sean más accesibles, cómodos y memorables. ¡Te invitamos a descubrir el mundo con
				nosotros!
			</p>
		</div>
		<div class="video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/7dyd8GPI84s?si=xzOCdPjoL6kaE29D"
				title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen></iframe>
		</div>
	</div>

	<div class="destacados">
		<center>
			<h2>Vehículos destacados</h2>

			<div class="producto">
				<h3>[[${vehiculos[0].marca}]] [[${vehiculos[0].modelo}]]</h3>
				<script th:inline="javascript">
					var imagen = /*[[${vehiculos[0].imagen} == 'N/A' ? '' : ${vehiculos[0].imagen}]]*/ '';
					if (imagen !== '') {
						document.write('<img class="img-vehiculo" src="data:image/png;base64,' + imagen + '" alt="Imagen del vehículo" />');
					}
				</script>
				<h4>[[${vehiculos[0].valorDia}]]</h4>
				<p>
					[[${vehiculos[0].tipo}]], [[${vehiculos[0].descripcion}]]
				</p>
				<a th:href="@{/vehiculos/detalles/administrador/{id}(id=${vehiculos[0].id})}">Ver detalles</a>
			</div>

			<div class="producto">
				<h3>[[${vehiculos[1].marca}]] [[${vehiculos[1].modelo}]]</h3>
				<script th:inline="javascript">
					var imagen = /*[[${vehiculos[1].imagen} == 'N/A' ? '' : ${vehiculos[1].imagen}]]*/ '';
					if (imagen !== '') {
						document.write('<img class="img-vehiculo" src="data:image/png;base64,' + imagen + '" alt="Imagen del vehículo" />');
					}
				</script>
				<h4>[[${vehiculos[1].valorDia}]]</h4>
				<p>
					[[${vehiculos[1].tipo}]], [[${vehiculos[1].descripcion}]]
				</p>
				<a th:href="@{/vehiculos/detalles/administrador/{id}(id=${vehiculos[1].id})}">Ver detalles</a>
			</div>

			<div class="producto">
				<h3>[[${vehiculos[2].marca}]] [[${vehiculos[2].modelo}]]</h3>
				<script th:inline="javascript">
					var imagen = /*[[${vehiculos[2].imagen} == 'N/A' ? '' : ${vehiculos[2].imagen}]]*/ '';
					if (imagen !== '') {
						document.write('<img class="img-vehiculo" src="data:image/png;base64,' + imagen + '" alt="Imagen del vehículo" />');
					}
				</script>
				<h4>[[${vehiculos[2].valorDia}]]</h4>
				<p>
					[[${vehiculos[2].tipo}]], [[${vehiculos[2].descripcion}]]
				</p>
				<a th:href="@{/vehiculos/detalles/administrador/{id}(id=${vehiculos[2].id})}">Ver detalles</a>
			</div>

			<div class="producto">
				<h3>[[${vehiculos[3].marca}]] [[${vehiculos[3].modelo}]]</h3>
				<script th:inline="javascript">
					var imagen = /*[[${vehiculos[3].imagen} == 'N/A' ? '' : ${vehiculos[3].imagen}]]*/ '';
					if (imagen !== '') {
						document.write('<img class="img-vehiculo" src="data:image/png;base64,' + imagen + '" alt="Imagen del vehículo" />');
					}
				</script>
				<h4>[[${vehiculos[3].valorDia}]]</h4>
				<p>
					[[${vehiculos[3].tipo}]], [[${vehiculos[3].descripcion}]]
				</p>
				<a th:href="@{/vehiculos/detalles/administrador/{id}(id=${vehiculos[3].id})}">Ver detalles</a>
			</div>

			<div class="producto">
				<h3>[[${vehiculos[4].marca}]] [[${vehiculos[4].modelo}]]</h3>
				<script th:inline="javascript">
					var imagen = /*[[${vehiculos[4].imagen} == 'N/A' ? '' : ${vehiculos[4].imagen}]]*/ '';
					if (imagen !== '') {
						document.write('<img class="img-vehiculo" src="data:image/png;base64,' + imagen + '" alt="Imagen del vehículo" />');
					}
				</script>
				<h4>[[${vehiculos[4].valorDia}]]</h4>
				<p>
					[[${vehiculos[4].tipo}]], [[${vehiculos[4].descripcion}]]
				</p>
				<a th:href="@{/vehiculos/detalles/administrador/{id}(id=${vehiculos[4].id})}">Ver detalles</a>
			</div>

			<div class="producto">
				<h3>[[${vehiculos[5].marca}]] [[${vehiculos[5].modelo}]]</h3>
				<script th:inline="javascript">
					var imagen = /*[[${vehiculos[5].imagen} == 'N/A' ? '' : ${vehiculos[5].imagen}]]*/ '';
					if (imagen !== '') {
						document.write('<img class="img-vehiculo" src="data:image/png;base64,' + imagen + '" alt="Imagen del vehículo" />');
					}
				</script>
				<h4>[[${vehiculos[5].valorDia}]]</h4>
				<p>
					[[${vehiculos[5].tipo}]], [[${vehiculos[5].descripcion}]]
				</p>
				<a th:href="@{/vehiculos/detalles/administrador/{id}(id=${vehiculos[5].id})}">Ver detalles</a>
			</div>
		</center>
	</div>

	<footer>
		<div class="footer">
			<div class="izquierda">
				<img class="logo" src="/imagenes/LogoFooter.png" alt="Icono de la página">
				<div class="redes-sociales">
					<a class="redes"><ion-icon name="logo-facebook"></ion-icon></a>
					<a class="redes"><ion-icon name="logo-instagram"></ion-icon></a>
					<a class="redes"><ion-icon name="logo-twitter"></ion-icon></a>
					<a class="redes"><ion-icon name="logo-google"></ion-icon></a>
				</div>
			</div>
			<div class="medio">
				<h4>Contáctanos</h4>
				<p>Correo: rentacar@gmail.com</p>
				<p>Teléfono: +57 3124557639</p>
				<h4>Horario de atención</h4>
				<p>Lunes a viernes 8:00am a 5:30pm</p>
				<p>Sábados 8:00am a 2:00pm</p>
			</div>
			<div class="derecha">
				<h4>Universo RentaCar</h4>
				<p>RentaCar en Colombia</p>
				<p>Grupo RentaCar</p>
				<p>Código de ética</p>
				<p>Términos y condiciones</p>
			</div>
			<div class="abajo">
				<p>&copy; 2023 RentaCar. Todos los derechos reservados.</p>
			</div>
		</div>
	</footer>
</body>

</html>