<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tabla Trabajadores</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/css/tabla_style.css}">
	<link rel="stylesheet" th:href="@{/css/navBar_style.css}">
	<link rel="shortcut icon" th:href="@{/imagenes/Logo.png}" type="image/x-icon">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- IonIcons CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
	<header>
		<nav class="navbar">
			<div class="nav-text">
				<div class="dropdown">
					<img class="icono" src="/imagenes/logo.png" alt="Icono de la página">
					<a class="dropbtn" th:href="@{/home/principal}"><ion-icon name="home"></ion-icon></a>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Administradores <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/administradores/lista}">Lista Administradores</a>
						<a th:href="@{/administradores/nuevo}">Agregar Administrador</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Trabajadores <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/trabajadores/lista}">Lista Trabajadores</a>
						<a th:href="@{/trabajadores/nuevo}">Agregar Trabajador</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Clientes <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/clientes/lista}">Lista Clientes</a>
						<a th:href="@{/clientes/nuevo}">Agregar Cliente</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Vehículos <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/vehiculos/lista}">Lista Vehículos</a>
						<a th:href="@{/vehiculos/nuevo}">Agregar Vehículo</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Alquileres <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/alquileres/lista}">Lista Alquileres</a>
						<a th:href="@{/alquileres/nuevo}">Agregar Alquiler</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Catálogo <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/catalogo/administrador}">Ver Catálogo</a>
					</div>
				</div>
				<div class="dropdown exitadm">
					<a class="dropbtn" th:href="@{/login/}">Cerrar Sesión <ion-icon name="log-out-outline"></ion-icon>
					</a>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<div class="cont">
			<div class="cont_main">
				<h1 class="titulo">Trabajadores</h1>
					<div class="filtros">
						<div class="filtro-titulo">
							<h2>Filtrar:</h2>
						</div>
						<div class="filtro-seleccion">
							<label for="estadoFilter">Estado:</label>
							<select id="estadoFilter" onchange="filterTable()">
								<option value="">Todos</option>
								<option value="Activo">Activo</option>
								<option value="Bloqueado">Bloqueado</option>
							</select>
						</div>
					</div>
					<div class="cont-tabla">
					<table class="table tabla">
						<thead>
							<tr class="encabezados">
								<td><strong>Tipo Documento</strong></td>
								<td><strong>Documento</strong></td>
								<td><strong>Nombre</strong></td>
								<td><strong>Apellido</strong></td>
								<td><strong>Dirección</strong></td>
								<td><strong>Telefono</strong></td>
								<td><strong>Correo</strong></td>
								<td><strong>Usuario</strong></td>
								<td><strong>Contraseña</strong></td>
								<td><strong>Estado</strong></td>
								<td><strong>Editar</strong></td>
								<td><strong>Eliminar</strong></td>
							</tr>
						</thead>
						<tbody id="trabajadorTableBody">
							<tr th:each="trabajador : ${trabajadores}">
								<td>[[ ${trabajador.tipoDocumento} ]]</td>
								<td>[[ ${trabajador.documento} ]]</td>
								<td>[[ ${trabajador.nombre} ]]</td>
								<td>[[ ${trabajador.apellido} ]]</td>
								<td>[[ ${trabajador.direccion} ]]</td>
								<td>[[ ${trabajador.telefono} ]]</td>
								<td>[[ ${trabajador.correo} ]]</td>
								<td>[[ ${trabajador.usuario} ]]</td>
								<td>[[ ${trabajador.contrasena} ]]</td>
								<td>[[ ${trabajador.estado} ]]</td>
								<td>
									<a class="mx-3 text-warning"
										th:href="@{/trabajadores/editar/{id}(id = ${trabajador.id})}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
											<path
												d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
											<path fill-rule="evenodd"
												d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
										</svg>
									</a>
								</td>
								<td>
									<a class="mx-3 text-danger"
										th:href="@{/trabajadores/eliminar/{id}(id = ${trabajador.id})}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
											<path
												d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
											<path
												d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
										</svg>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div>
			<button class="button"><a th:href="@{/trabajadores/pdf}" target="_blank">Generar reporte </a><ion-icon
					style="color: white;" name="document-text"></ion-icon></button>
		</div>
	</main>

	<footer>
		<div class="footer">
			<div class="izquierda">
				<img class="logo" src="/imagenes/LogoFooter.png" alt="Icono de la página">
				<div class="redes-sociales">
					<a class="redes"><ion-icon name="logo-facebook"></ion-icon></a>
					<a class="redes"><ion-icon name="logo-instagram"></ion-icon></a>
					<a class="redes"><ion-icon name="logo-twitter"></ion-icon></a>
					<a class="redes"><ion-icon name="logo-google"></ion-icon></a>
				</div>
			</div>
			<div class="medio">
				<h4>Contáctanos</h4>
				<p>Correo: rentacar@gmail.com</p>
				<p>Teléfono: +57 3124557639</p>
				<h4>Horario de atención</h4>
				<p>Lunes a viernes 8:00am a 5:30pm</p>
				<p>Sábados 8:00am a 2:00pm</p>
			</div>
			<div class="derecha">
				<h4>Universo RentaCar</h4>
				<p>RentaCar en Colombia</p>
				<p>Grupo RentaCar</p>
				<p>Código de ética</p>
				<p>Términos y condiciones</p>
			</div>
			<div class="abajo">
				<p>&copy; 2023 RentaCar. Todos los derechos reservados.</p>
			</div>
		</div>
	</footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
	<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>


	<script th:inline="javascript">
		/*<![CDATA[*/
		function filterTable() {
			var estadoFilter = document.getElementById("estadoFilter").value;

			var tableRows = document.getElementById("trabajadorTableBody").getElementsByTagName("tr");

			for (var i = 0; i < tableRows.length; i++) {
				var row = tableRows[i];
				var estadoColumn = row.cells[9].innerText;
				var estadoMatch = estadoFilter === "" || estadoColumn === estadoFilter;

				if (estadoMatch) {
					row.style.display = "";
				} else {
					row.style.display = "none";
				}
			}
		}
    /*]]>*/
	</script>
</body>

</html>