@charset "ISO-8859-1";

/* Estilos generales */
.color1 {
	color: #30B221;
}

.color2 {
	color: #ffffff;
}

.color3 {
	color: #000000;
}

.color4 {
	color: #4dbce9;
}

.color5 {
	color: #046ab3;
}

.navbar {
	background-color: #ffffff;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	opacity: 98%;
	font-size: 18px;
	font-style: normal;
	z-index: 2;
	width: 100%;
}

.icono {
	width: 70px;
	height: 70px;
	margin-right: 15px;
	margin-left: 10px;
}

.nav-text {
	display: flex;
	align-items: center;
}

.navbar a,
.nav-text a {
	color: #2596be;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
	cursor: pointer;
}

.dropbtn:hover,
.nav-text a:hover,
.navbar a:hover {
	color: #214358;
	text-decoration: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	border: 0px;
}

.dropbtn {
	background-color: #ffffff;
	color: #2596be;
	padding: 12px;
	border: 0px;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width:250px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 2;
	border: 0px;
}


.dropdown:hover .dropdown-content {
	display: block;
	background-color: #ffffff;
	color: #214358;
}

.dropdown-content a {
	color: #2596be;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content:hover {
	color: #214358;
	text-decoration: none;
}

ion-icon {
	color: #2596be;
	vertical-align: middle;
}

ion-icon:hover {
	color: #214358;
	vertical-align: middle;
}

.exitadm {
	margin-left: 350px;
}

.exittra {
	margin-left: 680px;
}

.exitcli {
	margin-left: 850px;
}