<!DOCTYPE html>
<html>

<head>
	<title>Principal</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/css/preguntas_style.css}">
	<link rel="stylesheet" th:href="@{/css/navBar_style.css}">
	<link rel="shortcut icon" th:href="@{/imagenes/logo.png}" type="image/x-icon">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<!-- IonIcons CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<header>
		<nav class="navbar">
			<div class="nav-text">
				<div class="dropdown">
					<img class="icono" src="/imagenes/logo.png" alt="Icono de la página">
					<a class="dropbtn" th:href="@{/home/hogar}"><ion-icon name="home"></ion-icon></a>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Catálogo <ion-icon name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/catalogo/cliente}">Ver Catálogo</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Preguntas frecuentes <ion-icon
							name="chevron-down-outline"></ion-icon></button>
					<div class="dropdown-content">
						<a th:href="@{/clientes/preguntas}">Ver preguntas frecuentes</a>
					</div>
				</div>
				<div class="dropdown exitcli">
					<a class="dropbtn" th:href="@{/login/}">Cerrar Sesión <ion-icon name="log-out-outline"></ion-icon>
					</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="preguntasfrecuentes">
		<h1>Preguntas frecuentes</h1>
		<div class="pregunta">
			<h3>¿Cómo alquilar un vehículo?</h3>
			<p>Para alquilar un vehículo con nosotros, sigue estos pasos: reserva en línea en nuestro sitio web
				eligiendo el vehículo, completa el formulario de reserva con tus datos y proporciona una tarjeta de
				crédito o débito para garantizar la reserva. Asegúrate de leer y comprender los términos y condiciones
				de alquiler antes de confirmar tu reserva. Una vez confirmada, recibirás una confirmación por correo
				electrónico con los detalles de tu alquiler, incluida la ubicación de recogida del vehículo. Luego, ve a
				la ubicación en la fecha y hora programadas para recoger el vehículo.</p>
		</div>
		<div class="pregunta">
			<h3>¿Qué pasa si mi vehículo se daña mientras lo uso?</h3>
			<p>Si el vehículo sufre daños durante tu alquiler, primero asegúrate de estar a salvo y comunícate con
				nosotros tan pronto como sea posible. Si adquiriste un seguro adicional al momento de la reserva, esto
				podría cubrir algunos o todos los costos de los daños, según la cobertura y las condiciones. Nuestro
				equipo evaluará los daños y te informará sobre los costos de reparación o reemplazo. Es importante leer
				los términos y condiciones del alquiler y comprender las políticas de seguro antes de
				conducir el vehículo para estar completamente informado sobre tus responsabilidades en caso de daños.
			</p>
		</div>
		<div class="pregunta">
			<h3>¿Cuál es la edad mínima para alquilar un vehículo?</h3>
			<p>La edad mínima para alquilar un vehículo con nuestra empresa es generalmente de 21 años. Sin embargo,
				pueden aplicarse requisitos de edad y tarifas adicionales para conductores menores de 25 años. Asegúrate
				de consultar nuestras políticas específicas de edad al realizar tu reserva.
			</p>
		</div>
		<div class="pregunta">
			<h3>¿Qué sucede si llego tarde para recoger mi vehículo alquilado?</h3>
			<p>Si llegas tarde para recoger tu vehículo, comunícate con nuestra empresa lo antes posible. Algunas
				compañías pueden mantener tu reserva durante un período de gracia, pero es importante informarnos de
				cualquier retraso.
			</p>
		</div>
		<div class="pregunta">
			<h3>¿No es necesario devolver el vehículo con el tanque de gasolina lleno?</h3>
			<p>No, es necesario devolver el vehículo con el tanque de gasolina lleno. Te pedimos que devuelvas el
				vehículo con el mismo nivel de combustible con el que lo recibiste. Si no lo haces, se aplicarán cargos
				por repostar el combustible faltante, que generalmente es más alto que el precio promedio en la
				gasolinera local. Asegúrate de revisar y seguir esta política antes de devolver el vehículo.
			</p>
		</div>
	</div>
	</div>

	<footer>
		<div class="footer">
			<div class="izquierda">
				<img class="logo" src="/imagenes/LogoFooter.png" alt="Icono de la página">
				<div class="redes-sociales">
					<a class="redes"><ion-icon name="logo-facebook"></ion-icon></a>
					<a class="redes"><ion-icon name="logo-instagram"></ion-icon></a>
					<a class="redes"><ion-icon name="logo-twitter"></ion-icon></a>
					<a class="redes"><ion-icon name="logo-google"></ion-icon></a>
				</div>
			</div>
			<div class="medio">
				<h4>Contáctanos</h4>
				<p>Correo: rentacar@gmail.com</p>
				<p>Teléfono: +57 3124557639</p>
				<h4>Horario de atención</h4>
				<p>Lunes a viernes 8:00am a 5:30pm</p>
				<p>Sábados 8:00am a 2:00pm</p>
			</div>
			<div class="derecha">
				<h4>Universo RentaCar</h4>
				<p>RentaCar en Colombia</p>
				<p>Grupo RentaCar</p>
				<p>Código de ética</p>
				<p>Términos y condiciones</p>
			</div>
			<div class="abajo">
				<p>&copy; 2023 RentaCar. Todos los derechos reservados.</p>
			</div>
		</div>
	</footer>
</body>

</html>